@use "../../styles/abstract/" as *;

// Text related styling
.text {
  font-family: $font;
  font-size: 1.5rem;
}
.nonHighlight {
  color: $iconGray-onHold;
  font-weight: 500;
  font-size: 1rem;
}
.highlight {
  color: $white;
  font-weight: 600;
}
.gray {
  font-size: 1rem;
  color: $iconGray;
  font-weight: 600;

}

// Component related styling

.body {
  background-color: $background;
  border-radius: 0.5rem;
  border: 2px solid $timedisplay-stroke;  
}

.button {
  background-color: transparent;
  border: none;
}


// 3rd Row(Week and Date) related styling
.week {
  display: flex;
  flex-direction: column;
  
  justify-content: space-between;
  
}
.divider {
  width: 2px;
  height: 240px;
  background-color: $obvStroke;
}
.dayRow {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  
  
  
}
.day {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
}
.textContainer {
  width: 2rem;
  height: 1.5rem;
  flex-shrink: 0;
  font-size: 1rem;
  color: $iconGray-onHold;
  text-align: center;
  font-family: $font;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

// Row related styling
.row:nth-child(1) {
  gap: 2rem;
}

.row:nth-child(2) {
  justify-content: space-between;
}

.row:nth-child(3) {
  gap: 2rem;
  
}

.row {
  padding: 1.5rem 2rem;
  display: flex;
  // align-items: center;
  
  border-bottom: 2px solid $obvStroke;
}