:body {
  --white: #ffffff;
  --gray: #848586;
  --onHold: #3D3D3D;
  --onClick: #505050;
  --iconGray: #686868;
  --tooltip: #AAAAAA;
  --task: #1F1F21;
  --background: #111111;
  --timedisplay-stroke: #3c3c3c;
  --iconGray-onHold: #B3B3B3;
  --obvStroke: #494949;
  --completed: #4DCD7D;
  --brandColor: #E9AEAB;
}

@media(prefers-color-scheme: dark){
  :body {
    
  }
}

@media(prefers-color-scheme: light){
  :body {
    
  }
}