:root {
  --white: #ffffff;
  --gray: #848586;
  --onHold: #3D3D3D;
  --onClick: #505050;
  --iconGray: #686868;
  --tooltip: #AAAAAA;
  --task: #1F1F21;
  --background: #111111;
  --timedisplay-stroke: #3c3c3c;
  --iconGray-onHold: #B3B3B3;
  --obvStroke: #494949;
  --completed: #4DCD7D;
  --brandColor: #E9AEAB;
  
  --completed-task: #1C1C1D;
  --completed-text: #7C7C7C;
  --completed-timeDisplay: #2A2A2A;
  --font: Poppins;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  max-height: 100vh;
  background-color: #DCC7C4;
  font-size: 16px;
}
html {
  font-size: 16px;
}
* {
  min-width: 0px;
}